body {
  font-family: Arial, sans-serif;
  color: #222;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.section-tag {
  font-size: 16px;
  color: #777;
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.main1 {
  display: flex;
  height: 950px;

  &_left {
    width: 100px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #333333;

    &_top {
      display: flex;
      flex-direction: column;
      gap: 28px;
      align-items: center;
      margin-top: 10px;

      .logo { width: 80px; height: 46px; }
      .menu-icon { width: 40px; height: 40px; }
    }

    &_bot {
      display: flex;
      flex-direction: column;
      gap: 34px;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  &_right {
    flex: 1;
    display: flex;
    padding: 30px;
    background: url('photo/cofe.png') center/cover no-repeat;

    &_text {
      font-size: 45px;
      margin-top: auto;
      margin-left: 100px;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      max-width: 600px;
    }

    &_nav {
      display: flex;
      gap: 20px;
      margin-left: auto;

      a {
        display: flex;
        align-items: center;
        padding: 0 20px;
        text-decoration: none;
        color: white;
        height: 42px;
        white-space: nowrap;
        font-size: 16px;

        &.main1_right_nav_btn {
          background-color: #B59571;
          &:hover {
            background-color: white; color: #B59571; 
            }
        }
      }
    }
  }
}


.about {
  padding: 120px 0 60px;
  
  &-content {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  &-header {
    h1 {
      font-size: 48px;
      line-height: 1.1;
      margin: 0;
    }
  }

  &-text {
    p {
      margin-bottom: 24px;
      font-size: 18px;
      color: #555;
      &:last-child { margin-bottom: 0; }
    }
  }
}


.menu {
  padding: 60px 0;

  &-content {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 80px;                      
  }

  &-header {
    h2 {
      font-size: 48px; 
      margin: 0;
    }
  }

  &-description {
    color: #555;
    font-size: 18px;
    p { margin-bottom: 16px; }
  }

  &-gallery {
    max-width: 1100px;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  &-item {
    img {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    h3 {
      margin-top: 12px;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}


.delivery {
  max-width: 1100px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;

  &_mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
    margin-bottom: 40px;

    &_left h1 { font-size: 42px; margin: 0; }
    &_right {
      h2 { font-size: 24px; margin-bottom: 20px; }
      p { font-size: 18px; color: #555; }
    }
  }

  &_bot {
    display: flex;
    gap: 30px;
    justify-content: end;


    &_left{
        padding: 15px 30px;
        border: 1px solid #B59571;
        cursor: pointer;
        font-size: 20px;
        background-color: #B59571;
        color: white;
    }

    &_left:hover {
        background-color: white;
        color: #B59571;
    }

    &_right{
        padding: 15px 30px;
        border: 1px solid #B59571;
        cursor: pointer;
        background-color: white;
        font-size: 20px;
    }
  }
}




.contacts{
    max-width: 1100px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    margin-top: 150px;


    &_main{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        background-image: url(/Exam/photo/image.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 50px;
        margin-top: 20px;


        &_left{
            display: grid;
            gap: 5px;
            grid-template-columns: repeat(2, 200px);
            margin: 0px;
            padding: 0px;


            &_time{
                margin: 0px;
                padding: 0px;

                &_top{
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    margin: 0px;
                    padding: 0px;


                    h2{
                        font-size: 64px;
                        color: #B59571;
                        margin: 0px;
                        padding: 0px;
                    }

                    h3{
                        font-size: 32px;
                        color: #B59571;
                        margin: 0px;
                        padding: 0px;
                    }
                }

                &_bot{


                    p{
                        font-size: 18px;
                        margin: 0px;
                        padding: 0px;
                    }
                }
            }
        }



        &_right{
            background-color: #5B5B5B;
            color: white;
            padding: 40px;


            &_top{
                display: flex;
                flex-direction: column;


                &_map{
                    display: flex;
                    gap: 15px;
                    align-items: center;


                    img{
                        width: 30px;
                        height: 30px;
                    }

                    p{
                        font-size: 20px;
                    }
                }

                &_phone{
                    display: flex;
                    gap: 15px;
                    align-items: center;


                    img{
                        width: 30px;
                        height: 30px;
                    }

                    p{
                        font-size: 20px;
                    }
                }
            }

            &_mid{
                display: flex;
                flex-direction: column;


                h1{
                    font-size: 24px;
                }

                &_week{
                    display: flex;
                    align-items: center;
                    gap: 15px;


                    h1{
                        font-size: 20px;
                    }

                    p{
                        font-size: 20px;
                    }
                }
            }

            &_bot{
            display: flex;
            gap: 20px;


                &_left{
                    padding: 10px 20px;
                    font-size: 20px;
                    color: white;
                    background-color: #B59571;
                    border: 1px solid #B59571;
                    cursor: pointer;
                }

                &_left:hover {
                    background-color: white;
                    color: #B59571;
                }

                &_right{
                    padding: 10px 20px;
                    font-size: 20px;
                    color: white;
                    border: 1px solid white;
                    background: none; 
                    cursor: pointer;
                }
            }
        }

        
    }
}

.footer{
    padding: 30px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;


    img{
        width: 80px;
        height: 45px;
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
}