body{
    padding: 0px;
    margin: 0px;
}

.main1{
    display: flex;
    height: 950px;


    &_left{
        width: 100px;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        background-color: #333333;


        &_top{
            display: flex;
            flex-direction: column;
            gap: 28px;
            align-items: center;
            margin-top: 10px;


            .logo{
                width: 80px;
                height: 46px;
            }

            .menu{
                width: 40px;
                height: 40px;
            }
        }


        &_bot{
        display: flex;
        flex-direction: column;
        gap: 34px;
        align-items: center;
        margin-bottom: 15px;
        }
    }
    



    &_right{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        background-image: url(photo/cofe.png);
        padding: 30px;
        flex: 1;

        &_text{
            font-size: 45px;
            margin-top: auto;
            margin-left: 250px;
            color: white;
            font-family: 'Times New Roman', Times, serif
        }

        &_nav{
            display: flex;
            gap: 20px;
            margin-right: 70px;


            &_btn{
                background-color: #B59571;
            }

            &_btn:hover{
                background-color: white;
                color: #B59571;
            }
        }
        &_nav a{
            display: flex;
            align-items: center;
            padding: 0 20px;
            text-decoration: none;
            color: white;
            height: 42px;
            white-space: nowrap;
            font-size: 16px;
        }
    }
    
    
    
}